@charset "utf-8";

/*@font-face { font-family: 'PingFang';src: url('PingFang.ttf');}*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
table,
th,
td,
button,
a {
	padding: 0;
	margin: 0;
	list-style: none
}

body {
	min-width: 320px;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

body,
button,
input,
select,
textarea {
	font-family: 'PingFang-SC-Medium', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif
}
h1,
h2,
h3,
h4,
h5,
h6,
th,
strong {
	font-weight: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	word-break: break-all;
}

ol,
ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	text-align: left;
}

img,
button {
	border: 0px none;
}

a {
	text-decoration: none;
	outline: none;
	color: #232326;
}

:focus {
	outline: 0;
}

button {
	cursor: pointer;
	line-height: normal !important;
}

input,
button,
select,
textarea {
	outline: none;
	border-radius: 0px;
	border: none;
}

textarea {
	resize: none;
}
.biGbox{
	max-width: 640px;
	overflow: hidden;
	margin: 0 auto;
	min-height: 500px;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	text-align: center;
	z-index: 666;
	background-color: #fff;
	border-bottom: 1px solid #F6F6F4;
	
}

.header a.left {
	position: absolute;
	left: 0;
	top: 0px;
	width: 40px;
	height: 44px;
	z-index: 999;
	/* background: url(../images/arrow-left.png) no-repeat center center;
	background-size: 50% */
	
}

.bigbox {
	width: 100%;
	float: left;
	margin-top: 45px;
}

::-webkit-scrollbar {
	height: 0px;
	width: 0px;
}



@font-face {
  font-family: 'iconfont';  /* project id 1579914 */
  src: url('//at.alicdn.com/t/font_1579914_8wnvn3ti66n.eot');
  src: url('//at.alicdn.com/t/font_1579914_8wnvn3ti66n.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1579914_8wnvn3ti66n.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1579914_8wnvn3ti66n.woff') format('woff'),
  url('//at.alicdn.com/t/font_1579914_8wnvn3ti66n.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1579914_8wnvn3ti66n.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}